.projects{
   background: #262626;
background: linear-gradient(90deg, rgba(38, 38, 38, 1) 0%, rgba(0, 0, 0, 1) 51%, rgba(38, 38, 38, 1) 100%);
    color: white;
    min-height: 100vh;
}
/* 
.gray{
    filter: grayscale(100%);
   
} */
.gray:hover{
    filter: grayscale(0%);
    transition: 0.3s ease-in-out;
    background-color: rgba(147,147,147,0.2);
}

.scroll{
    background: transparent;
    backdrop-filter: blur(50px);
    transform: scale(0.95);
    top: -5px;
    transition: 0.6s ease-in-out;


}

/* media queries */

@media (max-width : 768px) {
    p{
        font-size: 10px;
    }
}